.globe {
    --water-color: #d8d8d8;
}

.globe .water {
    fill: var(--water-color);
}
.globe .land {
    fill: #808080;
    stroke: var(--water-color);
}
.globe .land:hover {
    filter: brightness(120%);
}
.globe .highlight {
    fill: #0097e9;
}
.globe .highlight:hover {
    filter: brightness(120%);
}
.globe .native {
    fill: #69b82a;
}
.globe .native:hover {
    filter: brightness(120%);
}

.marker {
    filter: saturate(60%) brightness(60%);
}

.hidden {
    display: none;
}
